<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE</title>
</head>
<body>
    <h1>PLEASE INSERT YOUR DATA HERE</h1>
    <form action="/users/create" method="PUT">

    <input type="json" name="fullName" placeholder="Full Name">
    <input type="json" name="age" placeholder="age">
        <button type="submit">submit</button>
    
    </form>



</body>
</html>